rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read/write access to user documents and all subcollections
    match /users/{userId} {
      allow read, write: if true; 
      
      match /{allPaths=**} {
        allow read, write: if true;
      }
    }
  }
}
